<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" [routerLink]="['/']">GmailApp</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a *ngIf="!loggedIn" [routerLink]="['/login']">Login</a></li>
				<li><a *ngIf="!loggedIn" [routerLink]="['/registration']">Registration</a></li>
				<li><a *ngIf="loggedIn" (click)="logout()" style="cursor: pointer;">logout</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
				<li class="active"><a (click)="mailCompose()" style="color: #fff !important;">COMPOSE<span class="sr-only">(current)</span></a></li>
				<li><a [routerLink]="['/inbox']">Inbox</a></li>
				<li><a [routerLink]="['/starred']">Starred</a></li>
				<li><a [routerLink]="['/sent-mail']">Sent Mail</a></li>
				<li><a [routerLink]="['/trash']">Trash</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-content">
				<div class="table-responsive">
					<table class="table table-striped" style="margin-bottom: 0;">
						<tbody>
							<tr>
								<td><input type="checkbox" name=""></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- additional code -->
				<router-outlet></router-outlet>
				<div *ngIf="email_compose" class="col-md-5 email_compose">
					<div>
						<div class="email_header">
							<p class="col-md-11">Header</p>
							<p class="col-md-1" style="cursor: pointer;" (click)="closeMailcompose()"><span><i class="fa fa-close"></i></span></p>
						</div>
						<form role="form" (ngSubmit)="compose($event, to.value, subject.value, message.value )">
							<div class="email_recipients">
								<input type="email" #to class="form-control" id="to" placeholder="email">
								<input type="text" #subject class="form-control" id="subject" placeholder="Subject">
							</div>
							<div class="email_body">
								<textarea type="text" #message class="form-control" id="message" placeholder="Enter your message here.."></textarea>
							</div>
							<div class="email_footer">
								<button type="submit" class="btn btn-primary">send</button>
							</div>
						</form>
					</div>
				</div>
				<!-- additional code end -->
			</div>
		</div>
	</div>
</div>