/* You can add global styles to this file, and also import other style files */
/*for bootstrap*/
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/toastr-ng2/toastr.css";

.navbar{
  margin-bottom: 0px;
  background-color: #fff;
  color: #000 !important;
}
.sub-header {
  text-align: center;
}
.navbar-fixed-top {
  border: 0 none;
}
.sidebar {
  display: none;
}
.main-content{
  margin-top: 10px;
}
.navbar a{
  color: #777 !important;
}
.navbar a:hover{
  color: #000 !important;
}
/*.active a{
  background: #777;
  color: #000;
}*/
.navbar a:focus{
  color: #000 !important;
}
@media (min-width: 768px) {
  .sidebar {
    background-color: #fff;
    border-right: 1px solid #ccc;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 51px;
    z-index: 1000;
  }
}
.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
}
/*.nav-sidebar > li{
  border-bottom: 1px solid #777;
}*/
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
  color: #777 !important;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  background-color: #777;
  color: #fff;
  cursor: pointer;
}
.main {
  padding: 40px 0 0;
}
.main .page-header {
  margin-top: 0;
}
.email_compose{
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  color: #000;
  height: 450px;
  padding: 0;
  position: fixed;
  right: 15px;
}
.email_header{
  background: #777 none repeat scroll 0 0;
  height: 40px;
}
.email_header p{
  margin: 0;
  padding: 10px 14px;
  color: #fff;
}
.email_body{
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
}
.email_body textarea{
  border-radius: 0;
  border: none;
  height: 285px;
  box-shadow: none !important;
}
.email_recipients input{
  border-bottom: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-radius: 0;
  height: 40px;
  box-shadow: !important;
}
.email_footer{
  border-top: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  bottom: 0;
  height: 50px;
  padding: 7px 14px;
  position: absolute;
  width: 100%;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  background: #dadada none repeat scroll 0 0;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #d2d2d2;
  cursor: pointer;
}
.mail-header{
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #c5c5c5;
}
.mail-msg-content{
  padding: 20px;
}
.mail-content{
  padding-left: 0px;
  padding-right: 0px;
}